<div class="row">
  <div class="col-md-8 offset-md-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <h5><label for="username">Identifiant</label></h5>
        <input type="text" id="username" class="form-control mb-2" name="username" ngModel required>
        <h5><label for="password">Mot de passe</label></h5>
        <input type="password" id="password" class="form-control mb-2" name="password" ngModel required>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="action" value="Pull" (change)="onChangeRadioSync($event.srcElement.value)" checked>Pull
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="action" value="Push" (change)="onChangeRadioSync($event.srcElement.value)">Push
        </label>
      </div>
      <button class="btn btn-dark float-right" type="submit" [disabled]="f.invalid"> {{ action }} </button>
    </form>
  </div>
</div>