<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="">PoC</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="clone">Clone</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="sync">Sync</a>
                </li>
            </ul>
        </div>
    </nav>
    <app-path-manager></app-path-manager>
    <router-outlet></router-outlet>
</div>