<div class="row">
    <div class="col-md-8 offset-md-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <h5><label for="url">Identifiant</label></h5>
          <input type="text" id="identifiant" class="form-control mb-2" name="identifiant" ngModel required>
          <h5><label for="password">Password</label></h5>
          <input type="password" id="password" class="form-control mb-2" name="password" ngModel required>
          <h5><label for="url">URL</label></h5>
          <input type="text" id="url" class="form-control" name="url" ngModel required>
        </div>
        <button class="btn btn-dark float-right" type="submit" [disabled]="f.invalid">Cloner</button>
      </form>
    </div>
  </div>
  <p>{{ test }}</p>